name: Build

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build --verbosity normal

      # Publish
      - name: Publish framework-dependent
        run: dotnet publish YoutubeDl.Wpf -c Release --no-restore

      - name: Publish self-contained for Windows ARM64
        run: dotnet publish YoutubeDl.Wpf -c Release -r win-arm64 --self-contained

      - name: Publish self-contained for Windows x64
        run: dotnet publish YoutubeDl.Wpf -c Release -r win-x64 --self-contained

      - name: Publish self-contained for Windows x86
        run: dotnet publish YoutubeDl.Wpf -c Release -r win-x86 --self-contained

      # Upload
      - name: Upload artifacts for Windows framework-dependent
        uses: actions/upload-artifact@v4
        with:
          name: youtube-dl-wpf-${{ github.sha }}-windows
          path: YoutubeDl.Wpf/bin/Release/net8.0-windows10.0.22621.0/publish/

      - name: Upload artifacts for Windows ARM64
        uses: actions/upload-artifact@v4
        with:
          name: youtube-dl-wpf-${{ github.sha }}-windows-arm64
          path: YoutubeDl.Wpf/bin/Release/net8.0-windows10.0.22621.0/win-arm64/publish/

      - name: Upload artifacts for Windows x64
        uses: actions/upload-artifact@v4
        with:
          name: youtube-dl-wpf-${{ github.sha }}-windows-x64
          path: YoutubeDl.Wpf/bin/Release/net8.0-windows10.0.22621.0/win-x64/publish/

      - name: Upload artifacts for Windows x86
        uses: actions/upload-artifact@v4
        with:
          name: youtube-dl-wpf-${{ github.sha }}-windows-x86
          path: YoutubeDl.Wpf/bin/Release/net8.0-windows10.0.22621.0/win-x86/publish/
